.login{
  margin: 20px;
  float: right;
}

.lists-wrapper{
  display: flex;
}

.item-wrapper{
  padding: 20px;
  background-color: gainsboro;
  margin: 20px;
  text-align: center;
}

.right-side-lists{
  display: flex;
  flex-direction: column;
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul li{
  margin: 150px 0;
  width: 30px;
  height: 30px;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.form-container{
    max-width: 400px;
    margin: 0 auto;
}

.hiddenPopap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688ad;
    color: #fff;
    font-size: 30px;
    flex-direction: column;
}

.hiddenPopap span{
    text-decoration: underline;
}